.sass-cache
bower_components
node_modules
understrap.zip
wflogs/*
#dist
dist-product
npm-debug.log
updraft/*
*.log
*.sqlite
mmr/*
cache/*
wflogs/config.php
*.log

#uploads/*
uploads/activity-log/*
uploads/**/*-*x*[0-9].*
uploads/db-backup/*
#uploads/*.mp4
#*.mp4

.DS_Store
